<!-- Contacs -->
<section class="invia_contatti">

  <form action="action_page.php" method="post">

    <h2>Invia i tuoi dati per essere contattato</h2>

    <input type="text" placeholder="Nome" name="name" required>

    <br>

    <input type="text" placeholder="Cognome" name="lastname" required>

    <br>

    <input type="email" placeholder="Email" name="email" required>

    <br>

    <input type="number" placeholder="Numero di telefono" name="number" required>

    <br>

    <textarea placeholder="Messaggio" name="Text" maxlength="300" rows="5" required></textarea>

    <button class="btnSubmit" type="submit">Invia</button>

  </form>

</section>
