<header>
    <nav>
        <div class="container">
            <img id="logoTv" src="/assets/logo-tipo.png" alt="Logo LabTV">

            <ul class="menu">
                <li *ngFor="let menu of menus">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                      (click)="filmsService.titolo=''" routerLink="{{menu.path}}">{{menu.name}}</a>
                </li>
                <li>
                    <div class="ricerca" *ngIf="visualizzaRicerca">
                    <input [(ngModel)]="filmsService.titolo" type="text" placeholder="Inserisci titolo film">
                    </div>
                    <a routerLink="" routerLinkActive="active" (click)="cerca()" (click)="filmsService.titolo=''">
                      Cerca</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
