<!-- <!-- <div id="schedaFilm" *ngIf="scheda">
    <div class="containerImg">
        <img class="imgScheda" src="{{scheda.image}}" alt="{{scheda.title}}">
        <div id="sfumatura"></div>
    </div>
    
    <div class="containerTxt">
        <h2>{{scheda.title}}</h2>
        <span>Id film: {{scheda.id}} </span>
        <br>
        <button class="trailer">Guarda trailer</button>
        <button class="guarda">Acquista</button>
        <br>
        <div>Genere: {{scheda.genres}}</div>
        <br>
        <div>Regista: {{scheda.directors}}</div>
        <br>
        <div>Cast: {{scheda.actorList}}</div>
        <br>
        <br>
        <div>Trama: {{scheda.plotLocal}}</div>
        <br>
        <div>Film simili: {{scheda.similars}}</div>
    </div>

    <a id="closePopupFilm" href="#">x</a> -->
<!-- </div> --> 

<!-- <div class="containerTrailer" *ngIf="trailer">
    prova
 <iframe width="1730" height="814" src="https://youtu.be/Jvurpf91omw" title="YouTube video player" frameborder="0"
   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
   allowfullscreen></iframe>
</div>

<div>prova prova</div> -->

<div class="containerT">
    <iframe width="1200" height="814" src="https://www.youtube.com/embed/gNtJ4HdMavo" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>



