<div id="schedaFilm" *ngIf="scheda">
    <div class="containerImg">
        <img class="imgScheda" src="{{scheda.image}}" alt="{{scheda.title}}">
        <div id="sfumatura"></div>
    </div>
    
    <div class="containerTxt">
        <h2>{{scheda.title}}</h2>
        <span>Id film: {{scheda.id}} </span>
        <br>
        <button class="trailer" (click)="guardaTrailer()">Guarda trailer</button>
        <button class="guarda">Acquista</button>
        <br>
        <div>Genere: {{scheda.genres}}</div>
        <br>
        <div>Regista: {{scheda.directors}}</div>
        <br>
        <div> Cast:
            <span *ngFor="let actor of scheda.actorList; let i = index">
                {{actor.name}}
                <span *ngIf="i !== scheda.actorList.length-1">,</span>
                <span *ngIf="i === scheda.actorList.length-1">.</span>
            </span>
        </div>
        <br>
        <br>
        <div>Trama: {{scheda.plotLocal}}</div>
        <br>
        <span>Film simili:</span>
        <div class="containerFilmSimili">
            <div class="filmSimili" *ngFor="let simil of scheda.similars">
                <h4>{{simil.title}}</h4>
                <img src="{{simil.image}}" alt="">
            </div>
        </div>
    </div>
</div>


<!-- Modale trailer -->

<div class="containerTrailer" *ngIf="trailer != undefined" [ngClass]="{'visibile': visibile}">

    <!-- <div class="trailerPosition">
        <iframe width="1264" height="480" [src]="urlTrailer(trailer)"
        title="{{trailer.title}}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
        </iframe> 
    </div> -->

    <div class="trailerPosition">
        <iframe width="1264" height="700" src="https://www.youtube.com/embed/qSqVVswa420" title="{{trailer.title}}"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div> 
    
    <a class="close" (click)="chiudi()">x</a>
    
</div>




