@font-face {
  font-family: 'icone_labtv';
  src: url('icon/font/icone_labtv.eot?21441877');
  src: url('icon/font/icone_labtv.eot?21441877#iefix') format('embedded-opentype'),
       url('icon/font/icone_labtv.woff2?21441877') format('woff2'),
       url('icon/font/icone_labtv.woff?21441877') format('woff'),
       url('icon/font/icone_labtv.ttf?21441877') format('truetype'),
       url('icon/font/icone_labtv.svg?21441877#icone_labtv') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-style {
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.active {
    color: white;
}



/* Navbar */

nav {
    background-color: rgb(255, 0, 106);
    width: 100%;
}

nav img {
    width: 200px;
}

nav .container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu {
    margin: 1.8em 0;
}

.menu li {
    list-style: none;
    display: inline;
    margin-right: 1.2em;
    color: black;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* nav #menu li a span {
    font-family: icone_labtv;
    color: black;
} */

.menu li a:hover, nav .menu li:hover {
    color: white;
}

.menu .ricerca {
    display: inline;
}

.menu input {
    background-color: black;
    color: rgb(255, 0, 106);
    border: solid 1px white;
    margin-right: 0.5em;
    height: 1.5rem;
}



/* Card film */

.sottotitolo {
    font-weight: normal;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.card_film {
    width: 15%;
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
    border: solid 1px rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.8s;
    overflow: hidden;
}

.card_film:hover {
    transform:scale(140%)
}

.cardLink {
    text-decoration: none;  
}

.cardImg {
    width: 100%;
}

.titoloCard {
    padding: 0.5em;
    color: white;
    text-align: center;
    word-wrap: break-word;
}

.card-detail {
    padding-top: 0.8em;
    font-size: x-small;
}



/* Scheda Film */

#schedaFilm .containerImg {
    width: 100%;
    height: 800px;
}

#schedaFilm .containerImg .imgScheda {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 15%;
}

/* #schedaFilm .containierImg #sfumatura{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent 50%);
} */

#schedaFilm .containerTxt {
    padding: 2%;
}

#schedaFilm .containerTxt h2 {
    margin-bottom: 20px;
}

#schedaFilm .containerTxt .guarda, 
#schedaFilm .containerTxt .trailer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: none;
    font-size: 1em;
    margin: 20px 20px 20px 0;
}

#schedaFilm .guarda:hover, 
#schedaFilm .trailer:hover {
    background-color:rgb(255, 0, 106);
    color: black;
    cursor: pointer;
}



#schedaFilm .guarda {
    display: none;
}

.containerFilmSimili {
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1%;
}

.filmSimili {
    width: 10%;
    text-align: center;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filmSimili img {
    width: 100%;
}

.containerTrailer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.836);
    display: none;
}

.trailerPosition {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
}

.visibile {
    display: block;
}
/* 
iframe {
    position: fixed;
} */

.close {
    width: 30px;
    background-color: white;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 15px;
    right: 140px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    background-color: rgb(255, 0, 106);
    color: black;
}




/* Form login */

.login {
    display: flex;
    justify-content: center;
    justify-items: center;
}


.login form {
    width: 500px;
    background-color: white;
    color: black;
    padding: 50px;
    margin: 0 auto;
}

.login form h1 {
    text-align: center;
}

.login form input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.login form input.checkbox {
    width: 20px;
    height: 20px;
}

.login form button {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
}

.login form button:hover {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}

.login form .option {
    text-align: center;
}

.login form .option #registrati {
    text-align: center;
    color: black;
}

.login form .option #registrati a {
    color: black;
    line-height: 2em;
}



/* Form registrazione */

.registrazione {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.registrazione form {
    width: 500px;
    background-color: white;
    color: black;
    padding: 50px;
    margin:  0 auto;
}

.registrazione form h1 {
    text-align: center;
}

.registrazione form input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.registrazione form input.checkbox {
    width: 20px;
    height: 20px;
}

.registrazione form button {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
}

.registrazione form button:hover {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}



/* Form contatti */

.invia_contatti {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.invia_contatti form {
    width: 500px;
    background-color: white;
    color: black;
    padding: 50px;
}

.invia_contatti form h2 {
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

.invia_contatti form input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.invia_contatti form textarea {
    width: 100%;
    margin-bottom: 10px;
}

form button {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
}

form button:hover {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}





/* Footer */

footer{
    padding: 30px;
    text-align: center;
}

footer ul {
    margin-top: 10px;
}

footer ul li {
    display: inline-block;
}

footer ul li:nth-of-type(2) {
    margin: 0 15px;
}

footer ul li a {
    color: white;
    font-family: icone_labtv;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}

footer ul li a:hover {
    color: rgba(255, 0, 106);
}



/* media query inferiore ai 650px */

@media screen and (max-width: 650px) {
    nav .container {
        max-width: 100%;
        display: block;
        text-align: center;
        padding: 1% 0 0 0;
    }

    nav img {
        width: 150px;
        margin-bottom: 20px;
    }   

    .menu {
        margin: 0;
    }

    .menu li {
        display: block;
        border-top: 1px solid black;
        margin: 0;
        padding: 5px;
    }

     .menu li:hover {
        background-color: white;
        font-weight: bold;
    }

    .menu li a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

     .menu li a:hover {
       color: black;
    }

    .card_film {
        width: 25%;
    }

    .titoloCard {
        padding: 0.5em;
        color: white;
        text-align: center;
    }
}

